.container{
    background-color:rgba(6, 6, 10, 1);


}

.teamresults{
    display: flex; 
    flex-direction: row;
    height: fit-content;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 0;
}

.teamA{
    background-color: rgba(6, 6, 10, 1);
    flex: 1;
    border: 2px;
    width: max-content;
    /* height: 80px; */
    justify-content: flex-end;
    display: flex;
    
}
.squareA{
    /* margin-top: 20px; */
    height: 58px;
    width: 90px;
    background-color: rgba(21, 21, 21, 1);
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;

}

.number{
    font-size: large;
}

.teamB{
    background-color: rgba(6, 6, 10, 1);
    flex: 1;
    /* height: 80px; */
    border: 2px;
    justify-content: flex-start;
    display: flex;
}

.squareB{
    /* margin-top: 20px; */
    height: 58px;
    width: 90px;
    background-color: rgba(21, 21, 21, 1);
    display: flex;
    justify-content: center;
    align-items: center; 
    color: white;

}

.points{
    margin: 20px;
    color: greenyellow;
    text-align: center;
    font-size: large;
    background-color: rgba(6, 6, 10, 1);
}

.a{
    margin: 20px;
    text-align: center;
    color: white;
    font-size: large;
    background-color: rgba(6, 6, 10, 1);
    border-bottom: 1px solid rgba(28, 28, 28, 1) ;

}






